---
layout: default
title: High Performers
menu_order: 4
description:
intro:
    - The most successful performers in any area experience limitations they’d like to overcome. Yet many hours of practice and great efforts often lead to minimal or no additional progress. In order to reach new breakthroughs in performance, be it physical, mental, emotional, or in leadership, change needs to occur within the brain.

details:
    - With the NeuroMovement® approach of the Anat Baniel Method, the brain is awakened so that high performers shift from their habitual patterns to discovery of new levels of performance.
    - For high performers, it is an exhilarating experience, as they often brings in renewed energy, delight and surprise by how much better they can do.
    - Performing at a high level requires continued learning, change, and progress in the area of expertise. However, it is much harder for the high performer to make meaningful improvements than it is for the beginner. This requires the brain to resume the process of increasing refinement and richness of connections which lead to transformational breakthroughs.
    - A common added bonus is the alleviation of aches or pains that may have been limiting them to reach further success. This process essentially allows removing "blocks" as well as learning how to continuously unblock and overcome whatever limitations prevent or slow down further progress, on physical, emotional and cognitive levels.

examples:
    title: Here are some examples of high performers
    subtitle: "who may benefit from NeuroMovement:"
    list:
        - Professional or enthusiast athletes
        - Actors, singers and public speakers
        - Dancers and musicians
        - CEOs, entrepreneurs and managers
        - Scientists and engineers
        - Parents juggling kids, home and work
        - Other learners, performers and achievers
highlight:
    title: Ready to upgrade yourself to the next level of performance?
    action:
        call: CONSULT FOR FREE
        link: signup.html
---




<main class="high-performers">
    <section class="main-banner">
        <div>
            <h1>
                {{ page.title}}
            </h1>
        </div>
    </section>
    <section class="main-section main-banner-section">
        <p>{{page.intro[0]}}
        </p>
    </section>
    <section class="main-section section-1">
        <article class="main-section-text">
            {% for p in page.details %}
                <p>{{ p }}</p>
            {% endfor %}
        </article>
        <div class="main-section-content">
        </div>
    </section>
    <section class="main-section section-2">
        <article class="main-section-text">
            <h1>{{ page.examples.title }}</h1>
            <p>
                {{ page.examples.subtitle }}
            </p>
        </article>
        <div class="main-section-content">
            <ul>
                {% for li in page.examples.list %}
                    <li>{{ li }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="main-section section-text-button">
        <div>
            <div class="main-section-text">
                <p>{{ page.highlight.title }}</p>
            </div>
            <a class="button" href="{{ page.highlight.action.link }}">{{ page.highlight.action.call }}</a>
        </div>
    </section>
</main>