---
layout: default
title: NeuroMovement
menu_order: 2
description:
banner:
    title: NeuroMovement<span>&reg;</span>
intro:
    title: Our Sessions
    text: During our sessions, you perform various refined movements while being guided by the practitioner through gentle touch and coaching. You discover new ways of movement, without discomfort or unnecessary effort, with greater freedom and a sense of overall lightness and well-being.

highlights:
    - title: Between your sessions, we coach you on how to integrate changes in your daily life and form new habitual movement patterns.
      action:
            call: CONSULT FOR FREE
            link: sign_up.html
    - title: Is NeuroMovement right for you? Find out at our FREE consultation
      action:
            call: SIGN UP
            link: sign_up.html

details:
    explanation:
        title: Explanation
        text:
            - The reason why NeuroMovement has helped so many people with chronic conditions is the nature of the brain and the human system as a whole. We believe that most often pain comes from the way we have been using our body, like standing, sitting, walking, and other everyday movements.
            - While the original cause of the pain may be an injury or another medical condition, when our ability to move naturally and efficiently is compromised, it affects our ability to self-heal. Many small problems turn into chronic diseases as a result of poor habitual movement patterns.
            - As we relearn healthier movement patterns, we get better. "Getting better" may carry a very different meaning for different people. For some, it may be a "miracle of healing," while others discover new exciting effects that they would have never thought would occur.
            - Everyone's experience is their own, and we do not make any "miracle" promises. While many clients call the effects of this work "miracles", we only work together with you to help you recover lost abilities by accessing the brain's power to form new patterns.
            - While the "visible" focus is on neuro-muscular conditioning and chronic pain relief, these newly acquired skills are ready to be integrated into any daily activity.

    science:
        - title: Science
          text:
            - The scientists are now making progress in their research of the relationship between brain and movement, mind and body, and the whole concept that the two are not separated. All of our pain and limitations, whether they stem from physical injuries/conditions, emotional stress, poor habits, self-limiting thinking patterns, are interconnected. We help you start this process of overcoming your limitations by helping you learn how to use less effort and to achieve more outcome naturally.
            - <a href="https://www.anatbanielmethod.com/about-abm/supporting-research">Please review the supporting research</a>

examples:
    - title: Most common musculoskeletal conditions
      subtitle:  "that our clients see improved are:"
      list:
        - Lower back pain, chronic back pain and scoliosis
        - Neck and shoulder pain
        - Hip, knee, and foot pain
        - Joint pain and arthritis
        - Repetitive stress injury and carpal tunnel syndrome

    - text: "As NeuroMovement works with the brain and the body as a whole, many of the following clients experience improvements far beyond what is expected:"
      list:
        - High-performing athletes, musicians, artists, and CEO’s
        - People suffering from chronic pain, including back pain, scoliosis, neck, shoulder, and joint pain; or other injuries
        - People recovering from strokes and brain injuries
        - Older adults with limited movement, poor balance, or decreasing memory or vitality
        - Children with Special Needs

---

<!--<div id="banner"></div>-->

<div id="content-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="banner neuromovement">
                    <h1>{{ page.banner.title }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="details-section green">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">

                    <div class="details-section-text">
                        <div class="details-section-title">
                            <div class="content-head">
                                <h2>{{ page.intro.title }}</h2>
                            </div>
                            <p>{{ page.intro.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="banner">
                    <a href="" >
                        <img src="assets/css/img/neuromovement/pic1.jpg"  alt="BRAINature - Anat Baniel Method (ABM) NeuroMovement Studio in San Mateo" />
                    </a>
                    <div class="banner-text-single">
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="content">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
            <div class="highlight-section blue">
                <div class="highlight-section-text large blue center">
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1 pure-u-lg-1">
                            {{ page.highlights[0].title }}
                        </div>
                    </div>

                    <a class="pure-button action-button-white" href="{{ page.highlights[0].action.link }}">{{ page.highlights[0].action.call }}</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="content over-bright-image">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
            <div class="details-section">
                <a href="" >
                    <img src="assets/css/img/neuromovement/pic2.jpg"  alt="BRAINature - Anat Baniel Method (ABM) NeuroMovement Studio in San Mateo" />
                </a>
                <div class="details-section-text-over-image over-bright-image">
                    <div class="content-head over-bright-image">
                        <h2>{{ page.details.explanation.title}}</h2>
                    </div>
                    {% for t in page.details.explanation.text %}
                        <p>{{ t }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="content">
        <div class="details-section green">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">

                    <div class="details-section-text">
                        <div class="details-section-title">
                            <div class="content-head bright">
                                <h2>{{ page.details.science.title}}</h2>
                            </div>
                             <p>{{ page.details.science.text[0]}}</p>
                             <p>{{ page.details.science.text[1]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="banner">
                    <a href="" >
                        <img src="assets/css/img/neuromovement/pic3.jpg"  alt="BRAINature - Anat Baniel Method (ABM) NeuroMovement Studio in San Mateo" />
                    </a>
                    <div class="banner-text-single">
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="highlight-section blue">
                    <div class="highlight-section-text">
                        <div class="content-head">
                            <h2>{{ page.examples[0].title}} </h2>
                            <h3>{{ page.examples[0].subtitle}} </h3>
                        </div>
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1 pure-u-lg-1">
                                <ul>
                                    {% for li in page.examples[0].list %}
                                    <li>{{ li }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content over-bright-image">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="info-section">
                    <a href="" >
                        <img src="assets/css/img/neuromovement/pic4.jpg"  alt="BRAINature - Anat Baniel Method (ABM) NeuroMovement Studio in San Mateo" />
                    </a>
                    <div class="info-section-text">
                        <p>
                            {{ page.examples[1].text}}
                        </p>
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1 pure-u-lg-1">
                                <ul class="large-list">
                                    <ul>
                                        {% for li in page.examples[1].list %}
                                        <li>{{ li }}</li>
                                        {% endfor %}
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="highlight-section green">
                    <div class="highlight-section-text large center">
                        <div class="pure-g">
                            <div class="pure-u-1 pure-u-md-1 pure-u-lg-1">
                                {{ page.highlights[1].title }}
                            </div>
                        </div>

                        <a class="pure-button action-button-white center" href="{{ page.highlights[1].action.link }}">{{ page.highlights[1].action.call }}</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
