---
canonical_name: our-stories.html
layout: default
title: Our Stories
meta_title: Our Stories, about Olga and Mark Lubarsky
og_img: web_assets_mobile/home/banner.jpg
menu_order: 5
description: ABM NeuroMovement practitioners in San Mateo, CA | Olga and Mark Lubarsky help children with special needs and adults with chronic pain
include_testimonials: true

stories:
    mark:
        title: Mark Lubarsky
        text:
            - text: "Mark's passion is personal transformation through learning and helping his clients overcome problems at birth & during childhood and sedentary lifestyle & chronic pain. Mark specializes in:"
              list:
                - Overcoming chronic & lingering pain and limitations
                - Children with special needs
                - Movement and learning disorders
                - Developmental delays, ADHD/Autism
                - Integrating awareness-based movement with thinking and emotions
                - Dealing with problems related to modern lifestyle and associated injuries and challenges.
            - text: After discovering the ABM NeuroMovement method, he was able to get rid of aches and pains that lingered from his early childhood and learned to become a higher functioning person. He was inspired to help others overcome limitations and achieve self-realization.
            - text: Mark completed the ABM NeuroMovement training in 2019, received Children Mastery certification, and continues to study with Anat Baniel.
    olga:
        title: Olga Lubarsky
        text:
            - text: "Olga is passionate about helping children and adults to find natural and gentle ways to overcome pain and limitations, achieve higher levels of skill in sports, dance, arts, personal and professional lives:"
              list:
                - Safe and yet engaging fitness
                - Natural chronic pain relief
                - Learn to move with ease (children and adults)
            - text: Olga was raised in the family of a well-respected orthopedic doctor. She observed her grandmother saving injured patients daily and grew passionate about helping those in pain.
            - text: "Olga has been practicing the ABM NeuroMovement since 2009 and has completed all Mastery Programs:"
              list:
                - Children with Special Needs
                - Vitality & Anti-aging
                - High Performers
            - text: Olga also teaches Pilates with a focus on injury prevention and recovery, integrating it with Feldenkrais-based approaches. Please check out Olga's studio's website <a href="http://www.movebetternow.com">www.movebetternow.com</a>
highlight:
    title: Is NeuroMovement right for you? Find out at our FREE consultation
    action:
        call: SIGN UP
        link: signup.html
---


<main class="our-stories">
    <section class="main-banner">
        <div>
            <h1>
                {{ page.title }}
            </h1>
        </div>
    </section>
    <section class="main-section section-1">
        <div class="main-section-content">
            <div class="main-section-articles first-position">
            <article id="mark" class="main-section-text section-content-photo">
                <h2>{{ page.stories.mark.title }}</h2>
                <div class="mobile-photo"></div>
                {% for t in page.stories.mark.text %}
                <p>{{ t.text }}</p>
                <ul>
                    {% for li in t.list %}
                    <li>{{ li }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </article>
            </div>
        </div>
        <div class="main-section-articles">
            <article id="olga" class="main-section-text section-content-photo">
                <h2>{{ page.stories.olga.title }}</h2>
                <div class="mobile-photo"></div>
                {% for t in page.stories.olga.text %}
                    <p>{{ t.text }}</p>
                    <ul>
                        {% for li in t.list %}
                        <li>{{ li }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </article>
        </div>
    </section>

    {% include testimonials.html %}

    <section class="main-section section-text-button">
        <div>
            <div class="main-section-text">
                <p>{{ page.highlight.title }}</p>
            </div>
            <a class="pure-button action-button-white center" href="{{ page.highlight.action.link}}"><button>{{ page.highlight.action.call}}</button></a>
        </div>
    </section>
</main>