---
layout: default
title: Our Stories
menu_order: 5
description:
include_testimonials: true

stories:
    mark:
        title: Mark Lubarsky
        text:
            - Mark’s lifelong passion is helping clients who are dealing with problems related to modern lifestyle and associated injuries and challenges. He's been a very active software engineer working for various "hot" tech companies in Silicon Valley for over 20 years. During his childhood, Mark has been a competitive international draughts (aka checkers) player in the former USSR, practicing in a sitting position for hours and hours each day. As a result of his profoundly sedentary lifestyle as well as premature birth and related illnesses, he ended up suffering from many aches, pains, struggles and limitations for years.
            - After discovering the ABM NeuroMovement method, he was able to get rid of aches and pains that lingered from his early childhood and learned to become a higher functioning person. He was inspired to help others overcome limitations and achieve self-realization.
            - Mark completed the ABM NeuroMovement training in 2019, re-joined Olga in their practice and continues to study with Anat Baniel to achieve a higher level of mastery in working with Children with Special Needs and High Performers.
    olga:
        title: Olga Lubarsky
        text:
            - text: "Olga was raised in the family of a well-respected orthopedic doctor. She observed her grandmother saving injured patients on a daily basis. Olga grew passionate about helping those in pain, which brought her to this profession. Olga has been practicing the ABM NeuroMovement since 2009 and has completed all Mastery Programs:"
              list:
                - Children with Special Needs
                - Vitality & Anti-aging
                - High Performers
            - text: Olga is working with children and adults looking for natural and gentle ways to overcome pain and limitations, achieve higher levels of skill in sports, dance, arts, personal and professional lives
            - text: Please check out Olga's studio's website (where she also teaches Pilates) <a href="http://www.movebetternow.com">www.movebetternow.com</a>
highlight:
    title: Is NeuroMovement right for you? Find out at our FREE consultation
    action:
        call: SIGN UP
        link: signup.html
---


<main class="our-stories">
    <section class="main-banner">
        <div>
            <h1>
                {{ page.title }}
            </h1>
        </div>
    </section>
    <section class="main-section section-1">
        <div class="main-section-content">
            <div class="section-content-photo"></div>
            <div class="section-content-photo"></div>
        </div>
        <div class="main-section-articles">
            <article id="mark" class="main-section-text">
                <h1>{{ page.stories.mark.title }}</h1>
                <div class="mobile-photo"></div>
                {% for t in page.stories.mark.text %}
                 <p>{{ t }}</p>
                {% endfor %}
            </article>

            <article id="olga" class="main-section-text">
                <h1>{{ page.stories.olga.title }}</h1>
                <div class="mobile-photo"></div>
                {% for t in page.stories.olga.text %}
                <p>{{ t.text }}</p>
                <ul>
                    {% for li in t.list %}
                    <li>{{ li }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </article>
        </div>
    </section>

    {% include testimonials.html %}

    <section class="main-section section-text-button">
        <div>
            <div class="main-section-text">
                <p>{{ page.highlight.title }}</p>
            </div>
            <a class="pure-button action-button-white center" href="{{ page.highlight.action.link}}"><button>{{ page.highlight.action.call}}</button></a>
        </div>
    </section>
</main>