<footer>
    <div class="footer-1">
        <div class="footer-logo">
            <img src="assets/images/web_assets_desktop/home/logo_mark.svg" alt="logo">
        </div>
        <nav class="footer-nav">
            <div>
                <a class="footer-nav-item" href="./signup.html">Sign Up for Program</a>
                <a class="footer-nav-item" href="./signup.html">Free Consultation</a>
                <a class="footer-nav-item" href="./signup.html">Gift Certificates</a>
                <a class="footer-nav-item" href="./location.html">Location</a>
            </div>
            <div>
                <a class="footer-nav-item" href="./chronic-pain.html">Chronic Pain</a>
                <a class="footer-nav-item" href="./high-performers.html">High Performers</a>
                <a class="footer-nav-item" href="./special-kids.html">Children with Special Needs</a>
                <a class="footer-nav-item" href="./our-stories.html">Our Stories</a>
            </div>
        </nav>
        <div class="footer-connect">
            <form class="news-letter-form">
                <input id="footer-email-input" placeholder="ADD EMAIL FOR NEWSLETTER"/>
                <button type="submit">OK</button>
            </form>
            <div class="footer-social">
                <a href="{{site.yelp}}" class="footer-social-item">
                    <div class="footer-social-item">
                        <img src="assets/images/web_assets_desktop/home/yelp_footer.svg" alt="yelp">
                    </div>
                </a>
                <a href="{{site.facebook}}" class="footer-social-item">
                    <div class="footer-social-item">
                        <img src="assets/images/web_assets_desktop/home/facebook_footer.svg" alt="facebook">
                    </div>
                </a>
                <a href="{{site.twitter}}" class="footer-social-item">
                    <div class="footer-social-item">
                        <img src="assets/images/web_assets_desktop/home/twitter_footer.svg" alt="twitter">
                    </div>
                </a>
                <a href="{{site.instagram}}" class="footer-social-item">
                    <div class="footer-social-item">
                        <img src="assets/images/web_assets_desktop/home/inst_footer.svg" alt="inst">
                    </div>
                </a>
                <a href="{{site.linkedin}}" class="footer-social-item">
                    <div class="footer-social-item">
                        <img src="assets/images/web_assets_desktop/home/linkedin_footer.svg" alt="linkedin">
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-info">
            <div>
                <p>1941 O'Farrell Street, Suite 111 San Mateo, CA 94403</p>
                <br>
                <p class="footer-info-call-us">{{site.phones.mark}} (Mark) | {{site.phones.olga}} (Olga)
                | <a href="mailto:{{ site.email }}?Subject=Request%20information">info@brainature.com</a></p>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="footer-info">
            <div>
                <br/>
                <br/>
                <br/>
                <p>For a worldwide listing of certified NeuroMovement® professionals serving Children with Special
                    Needs, please visit <a class="footer-nav-item" href="http://www.NeuroConnect.world">www.NeuroConnect.world</a></p>
                <br/>
                <p><span>&#9400;</span> 2021 BRAINature (some materials are courtesy of Anat Baniel Method and related publications)</p>
                <br/>
                <p>BRAINature&reg; is a registered trademark of Mark and Olga Lubarsky DBA BRAINature. Anat Baniel Method&reg; and NeuroMovement&reg; are registered trademarks of Movement Coordination Learning, Inc. DBA Anat Baniel Method Corporation.</p>
                <br/>
                <p><a class="footer-nav-item"href="./privacy.html">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>
