<footer>
    <div class="footer-logo">
        <img src="assets/images/web_assets_desktop/home/logo_mark.svg" alt="logo">
    </div>
    <nav class="footer-nav">
        <div>
            <a class="footer-nav-item" href="./signup.html">Sign Up for Program</a>
            <a class="footer-nav-item" href="./signup.html">Free Consultation</a>
            <a class="footer-nav-item" href="./signup.html">Gift Certificates</a>
            <a class="footer-nav-item" href="./location.html">Location</a>
        </div>
        <div>
            <a class="footer-nav-item" href="./neuromovement.html">NeuroMovement</a>
            <a class="footer-nav-item" href="./high_performers.html">High Performers</a>
            <a class="footer-nav-item" href="./special_kids.html">Special Kids</a>
            <a class="footer-nav-item" href="./our_stories.html">Our Stories</a>
        </div>
    </nav>
    <div class="footer-connect">
        <form class="news-letter-form">
            <input id="footer-email-input" placeholder="ADD EMAIL FOR NEWSLETTER"/>
            <button type="submit">OK</button>
        </form>
        <div class="footer-social">
            <a href="#" class="footer-social-item">
                <div class="footer-social-item">
                    <img src="assets/images/web_assets_desktop/home/facebook_footer.svg" alt="facebook">
                </div>
            </a>
            <a href="#" class="footer-social-item">
                <div class="footer-social-item">
                    <img src="assets/images/web_assets_desktop/home/twitter_footer.svg" alt="twitter">
                </div>
            </a>
            <a href="#" class="footer-social-item">
                <div class="footer-social-item">
                    <img src="assets/images/web_assets_desktop/home/inst_footer.svg" alt="inst">
                </div>
            </a>
            <a href="#" class="footer-social-item">
                <div class="footer-social-item">
                    <img src="assets/images/web_assets_desktop/home/yelp_footer.svg" alt="yelp">
                </div>
            </a>
            <a href="#" class="footer-social-item">
                <div class="footer-social-item">
                    <img src="assets/images/web_assets_desktop/home/linkedin_footer.svg" alt="linkedin">
                </div>
            </a>
        </div>
    </div>
    <div class="footer-info">
        <div>
            <p>3-West 37-th Avenue, Suite 22 San Mateo, CA 94403</p>
            <p class="footer-info-call-us">{{site.phones.mark}} (Mark) | {{site.phones.olga}} (Olga)</p>
            <p class="footer-info-email-us"><a href="mailto:{{ site.email }}?Subject=Request%20information">Email us</a></p>
        </div>
        <p><span>&#9400;</span> 2019 BRAINature</p>
    </div>
</footer>