<header>
    <div id="menu-button" class="header-menu">
    </div>
    <a class="header-logo-ref" href="./index.html">
        <div class="header-logo">
            <div class="logo"></div>
            <div class="logo-title">SAN MATEO, CA</div>
        </div>
    </a>

    <div class="header-mid hidden">
        <nav class="header-nav">
            <a class="header-nav-item" href="neuromovement.html">NEUROMOVEMENT</a>
            <a class="header-nav-item" href="special_kids.html">SPECIAL KIDS</a>
            <a class="header-nav-item" href="high_performers.html">HIGH PERFORMERS</a>
            <a class="header-nav-item" href="our_stories.html">OUR STORIES</a>
            <a class="header-nav-item" href="location.html">LOCATION</a>
            <a class="header-nav-item">RESOURCES</a>
        </nav>
        <div class="header-info">
            ABM NeuroMovement® Practitioners | San Mateo, CA | 650.703.2010 (Olga) | 650.576.3650 (Mark)
        </div>
    </div>
    <a href="./signup.html">
        <button id="sign-up-button" class="button">SIGN UP</button>
    </a>
</header>