<header>
    <div id="menu-button" class="header-menu">
    </div>
    <a class="header-logo-ref" href="./index.html">
        <div class="header-logo">
            <div class="logo"></div>
            <div class="logo-title">SAN MATEO, CA</div>
        </div>
    </a>

    <div class="header-mid hidden">
        <nav class="header-nav">
            {% assign menu_items = site.html_pages | sort: 'menu_order' %}
            {% for p in menu_items %}
                {% unless p.exclude %}
                    {% if p.title == page.title %}
                        {% assign select_tag = ' active' %}
                    {% else %}
                        {% assign select_tag = '' %}
                    {% endif %}
                    <a class="header-nav-item{{ select_tag }}" href="{{ p.url | prepend:site.baseurl}}">{{ p.title | upcase }}</a>
                {% endunless %}
            {% endfor %}
        </nav>
        <div class="header-info">
            ABM NeuroMovement® Practitioners | San Mateo, CA | {{site.phones.olga}} (Olga) | {{site.phones.mark}} (Mark)
        </div>
    </div>
    <a href="./signup.html">
        <button id="sign-up-button" class="button">SIGN UP</button>
    </a>
</header>