<div class="pure-g menu-wrapper" id="menu-desktop">
    <!--<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">-->
        <nav class="menu pure-menu pure-menu-horizontal menu-can-transform">
            <ul class="pure-menu-list">
                {% assign menu_items = site.html_pages | sort: 'menu_order' %}
                {% for p in menu_items %}
                {% unless p.exclude %}
                {% if p.title == page.title %}
                {% assign select_tag = ' pure-menu-selected' %}
                {% else %}
                {% assign select_tag = '' %}
                {% endif %}
                <li class="pure-menu-item{{ select_tag }}"><a href="{{ p.url | prepend:site.baseurl}}" class="pure-menu-link">{{ p.title }}</a></li>
                {% endunless %}
                {% endfor %}
            </ul>

            <div class="menu-footer">
                <p>ABM NeuroMovement® Practitioners | San Mateo, CA | 650.703.2010 (Olga) | 650.576.3650 (Mark)</p>
            </div>
        </nav>
    <!--</div>-->
</div>