<div class="newsletter-box upper-box">
    <form class="newsletter-input pure-form" method="get" action="http://brainature.com">
                                            <!--<span>-->
                                                <input type="text" class="email pure-input-rounded" placeholder="ADD EMAIL FOR NEWSLETTER">
                                                <input class="pure-button green" type="submit" value="OK">
                                            <!--</span>-->
    </form>
</div>

<hr>
<div class="social-buttons-set lower-box">
    <div>
        <div class="pure-g">
            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-1-3">
                <p class="label">WE ARE SOCIAL, TOO:</p>
            </div>

            <div class="pure-u-1-1 pure-u-md-1-1 pure-u-lg-2-3 social-buttons">
                <!--<div class="pure-g">-->
                    <!--<div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-2">-->
                        <a class="social-button facebook" href="" >
                            <img src="assets/css/img/home/social_button_icon_fb.svg"  alt="BRAINature - Anat Baniel Method (ABM) NeuroMovement Studio in San Mateo" />
                        </a>
                    <!--</div>-->
                    <!--<div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-2">-->
                        <a class="social-button twitter" href="" >
                            <img src="assets/css/img/home/social_button_icon_tw.svg"  alt="BRAINature - Anat Baniel Method (ABM) NeuroMovement Studio in San Mateo" />
                        </a>
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
