{% if page.include_testimonials ==  true %}
<section class="main-text-slider">
    <div class="main-slider-items">
        <div class="main-slider-quote">
            <img src="assets/images/web_assets_desktop/home/quote.svg" alt="quote">
        </div>
        <p class="active"> My 5 year old son goes to Occupational Therapy to work on his fine motor skills, sensory sensitivities and crossing the mid line tasks. Since we started seeing Mark for ABM sessions this summer his Occupational Therapist has seen a drastic improvement in his hand writing. He is able to write longer and making diagonal and curved lines is easier for him. One day at home he completely dressed himself and more and more he has been going to the bathroom on his own (number 2). Normally this is something he avoids at all costs but I think he is feeling more comfortable in his body. Mark is very patient and calm and my son enjoys talking to him. We are happy he has had the chance to have these sessions as he transitioned to kindergarten this year. - Melissa</p>
        <p>... We started ABM lessons for our daughter last summer and were happy to get the chance to get her
            more ABM lessons. Olga approached Jewel with such gentleness, integrity, and sweetness which made
            Jewel trust her right away. She allowed Olga to work on her, and her body slowly transformed,
            getting softer and opening up, as if moving forward. Going from tightness to openness, from
            congestion to open airways. - Ivana.</p>
        <p>... I had such good results that I brought my 85-year-old mother after she had two
            back surgeries. She, like me, now thinks of back pain as an unusual occurrence! - Margaret L.</p>
        <p>... Within a few months I was able to again lift my own luggage (had not been able to do so for
            several years w/o having pain later). I continue to see Olga today and am a believer in what ABM can
            do for people who suffer from debilitating lower back pain. - Tina S.</p>
        <p>... I felt slight improvement after a couple of sessions, and a significant improvement after a few
            weeks. I felt not just a reduction in pain but also a tangible difference in the way my arms, hips
            and legs all felt in my walking and my daily movements. – Peter Bartok</p>
        <p>... My son's  physical capabilities have accelerated steadily since working with Mark. His mood and energy levels are always high after each session. This has led him to develop much more confidence, first in crawling and then by developing the strength to walk. His muscular strength is more stable and his alertness to movement is increasing.  We love Mark's and Olga's passion and dedication to their work! It makes a great deal of difference for our family. - Daniel</p>
        <p>...the pains have really disappeared. I was able to run my first half marathon. I started playing
            volleyball again. I no longer stretch, or even feel the need to stretch. I’m now 8 months pregnant
            and attribute my lack of the typical aches and pains that most pregnant women complain of to the
            fact that I still have weekly lessons with Olga. - Kristen A.</p>
        <p>... I highly recommend working with Mark and Olga to overcome physical limitations and injuries and
            gain new body awareness. – Noelle Wood</p>
    </div>
    <div class="main-slider-navigation">
        <img src="assets/images/web_assets_desktop/home/arrow_left.svg" alt="arrow_left">
        <img src="assets/images/web_assets_desktop/home/arrow_right.svg" alt="arrow_right">
    </div>
    <div class="main-slider-reviews">
        <img src="assets/images/web_assets_desktop/home/yelp_red.svg" alt="yelp_red">
        <a href="{{site.yelp}}">MORE REVIEWS ON YELP</a>
    </div>
</section>
{% endif %}
