@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

:root {
    --indent: 15px;
}

.testimonial-list p {
    display: none;
}

.testimonial-list p.show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}



.header-button-signup {
    border-radius: 21px;
    border: 2px solid #7DA444;
    background-color: transparent;
    opacity: 1;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    /*font-style: normal;*/
    color: #7DA444;
    margin-top: 2px;
    /*margin-bottom: 14px;*/
    /*margin-right: 14px;*/
    /*margin-left: 14px;*/
}

.header-location {
    border-radius: 21px;
    /*border: 2px solid #7DA444;*/
    background-color: transparent;
    opacity: 1;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    /*font-style: normal;*/
    color: #737C56;
    margin-left: 37px;
    margin-top: -14px;
}

.header-logo {
    margin-top: 0px;
    /*margin-top: -20px;*/
}

.banner {
    /*height: 300px;*/
    /*width: 100%;*/
}

.banner h1 {
    font-size: inherit;
}

.banner img {
    /*height: 300px;*/
    width: 100%;
    display: inline-block;
}

.banner-text {
    /*background: url("/assets/css/img/home/banner.jpg") repeat;*/
    margin-left: var(--indent);
    margin-top: -190px;
    padding-bottom: 25px;
    z-index: 199;
    position:relative;
}

.map-text {
    /*background: url("/assets/css/img/home/banner.jpg") repeat;*/
    margin-left: var(--indent);
    top: 180px;
    /*padding-bottom: 25px;*/
    z-index: 199;
    position:relative;
}

#map {
    z-index: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.banner-text-single {
    /*background: url("/assets/css/img/home/banner.jpg") repeat;*/
    margin-left: var(--indent);
    margin-top: -90px;
    padding-bottom: 25px;
}

.banner-title {
    color: #684D3A;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /*padding-bottom: 25px;*/

    /*text-align: center;*/
}

.banner-title span{
    font-weight: 400;
}

.banner-learn-more a {
    color: #7DA444;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;
}

.highlight-section {
    /*background-color: #4EADC2;*/
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1;
}

.highlight-section ul, .info-section ul{
    padding:0;
    text-align: left;
    padding-left: var(--indent);
    margin-left: 0.5em;
}

.highlight-section li, .info-section li {
    /*margin: 10px 0;*/
    /*padding: 0em 0 1em 0;*/
    margin-bottom: 1.5rem;
    letter-spacing: 0.025em;
    line-height: 24px;
    font-size: 20px;
    font-weight: 300;

}

.highlight-section-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    /*color: #FFFFFF;*/
    line-height: 24px;
    margin-left: var(--indent);
    margin-right: var(--indent);
    /*padding-bottom: 15px;*/
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: left;
    opacity: 0.9;
}

/*.highlight-section-text-large {*/
    /*font-family: 'Montserrat';*/
    /*font-weight: 300;*/
    /*font-size: 20px;*/
    /*!*color: #FFFFFF;*!*/
    /*line-height: 30px;*/
    /*margin-left: var(--indent);*/
    /*margin-right: var(--indent);*/
    /*!*padding-bottom: 15px;*!*/
    /*text-align: center;*/
    /*opacity: 0.9;*/
/*}*/

.large {
    font-size: 20px;
    line-height: 30px;
}

.center {
    text-align: center;
}

.highlight-section-text img{
    color: #FFFFFF;

}


.highlight-section-special {
    /*position: absolute;*/
    margin-left: var(--indent);
    margin-right: var(--indent);
    padding-bottom: 1em;
}

.highlight-section-special a {
    color: #D32323;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1em;

}


.info-section-simple {
    background-color: #F7F2E6;
    padding-top: 0px;
    padding-bottom: 30px;
    position: relative;
    display: inline-block;
    width: 100%;

}

.info-section-simple-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    /*color: #684E3A;*/
    /*background-color: #F7F2E6;*/
    line-height: 30px;
    padding-left: var(--indent);
    padding-right: var(--indent);

    margin-bottom: 1.5em;
    margin-top: 1em;
    /*margin-top: -500px;*/
    /*position: absolute;*/
    /*top: 0%;*/
    /*left: 0%;*/
    /*transform: translate( -70%, -50% );*/
    text-align: left;
}

.location-section{
    background-color: #F7F2E6;
    padding-top: 0px;
    padding-bottom: 1em;
    position: relative;
    display: inline-block;
    width: 100%;

}

.location-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    /*color: #684E3A;*/
    /*background-color: #F7F2E6;*/
    line-height: 30px;
    padding-left: var(--indent);
    padding-right: var(--indent);

    margin-bottom: 15px;
    margin-top: 15px;
    /*margin-top: -500px;*/
    /*position: absolute;*/
    /*top: 0%;*/
    /*left: 0%;*/
    /*transform: translate( -70%, -50% );*/
    text-align: left;
}

.location-section .phone-icon {
    display: inline-block;
}

.location-section .phone-number {
    display: inline-block;
    margin-left: 0.5em;
}

.location-section .email-icon {
    /*margin-right: 2em;*/
    display: inline-block;
}

.location-section .email-address {
    color: #7DA444;
    text-decoration: underline;
    display: inline-block;
    margin-left: 0.25em;
}


.info-section-simple-images {
    text-align: center;
}



.info-section {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    display: inline-block;
    width: 100%;

}

.info-section img {
    width: 100%;
    display: inline-block;
}

.info-section-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    /*color: #684E3A;*/
    line-height: 30px;
    margin-left: var(--indent);
    margin-right: var(--indent);

    margin-bottom: 1.5em;
    margin-top: 1.5em;
    /*margin-top: -500px;*/
    position: absolute;
    top: 0%;
    left: 0%;
    /*transform: translate( -70%, -50% );*/
    text-align: left;
}

.info-section-text img{
    /*color: #FFFFFF;*/

}


.info-section-special {
    /*position: absolute;*/
    margin-left: var(--indent);
    margin-right: var(--indent);
}

.info-section-special a {
    color: #D32323;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;

}

.info-section-action {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -60%;
}

.info-section-action a {
    margin-bottom: 10px;
}

.info-section-action .social-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
}



.details-section {
    /*background-color: #6D764E;*/
    /*padding-top: 0em;*/
    /*padding-bottom: 1em;*/
    position: relative;
    display: block;
    vertical-align: top;
    width: 100%;
    opacity: 1;
}
.details-section ul{
    text-align: left;
    padding-left: var(--indent);
}

.details-section li {
    /*margin: 10px 0;*/
    padding: 1em 0 0 0;
}


.details-section-long {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    display: block;
    width: 100%;
    vertical-align: top;
}

.details-section img {
    width: 100%;
    display: block;
    line-height:0
}

.details-section-text-over-image {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    /*color: #FFFFFF;*/
    line-height: 24px;
    letter-spacing: 0.015em;
    margin-left: var(--indent);
    margin-right: var(--indent);

    margin-bottom: 1.5em;
    margin-top: 1em;
    /*margin-top: -500px;*/
    position: absolute;
    top: 0%;
    left: 0%;
    /*transform: translate( -70%, -50% );*/
    text-align: left;
    vertical-align: top;
}

.over-bright-image {
    color: #684E3A;
    background-color: transparent;
}

.over-dark-image {
    color: #FFFFFF;
    background-color: transparent;
}

.button-green-over-bright {
    border:#6D764E;
    color: #6D764E;
    background-color: transparent;
}

.blue {
    color: #FFFFFF;
    background-color: #4EADC2;
}
.green {
    color: #FFFFFF;
    background-color: #6D764E;
}
.light {
    color: #684E3A;
    /*background-color: #F8F8F0;*/
    background-color: #F7F2E6;
}

.very-light {
    color: #684E3A;
    background-color: #F8F8F0;
}

.details-section-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    /*color: #FFFFFF;*/
    line-height: 24px;
    letter-spacing: 0.015em;
    margin-left: var(--indent);
    margin-right: var(--indent);

    margin-bottom: 1.5em;
    margin-top: 1.5em;
    position: relative;
    /*top: 0%;*/
    /*left: 0%;*/
    /*margin-top: -500px;*/
    /*transform: translate( -70%, -50% );*/
    text-align: left;
}

.details-section-title {
    /*padding-bottom: 1em;*/
}

.details-section-description {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    /*color: #FFFFFF;*/
    line-height: 24px;
    margin-left: var(--indent);
    margin-right: var(--indent);
    text-align: left;
    /*padding-top: 16px;*/
    /*padding-bottom: 16px;*/
}

.details-section-text img{
    /*color: #FFFFFF;*/

}


.details-section-special {
    /*position: absolute;*/
    margin-left: var(--indent);
    margin-right: var(--indent);
    padding-bottom: 30px;
}

.details-section-special a {
    color: #D32323;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;

}

.details-section-action {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -160px;
}

.details-section-action a {
    margin-bottom: 10px;
}

.details-section span.highlight-name{
    font-weight: 500;
}


/*.social-button img{*/
    /*color: #4968B4;*/
/*}*/

.content .social-button.facebook img {
    background-color: #4968B4;
    border-radius: 21px;
    padding: 0.5em 1em;
    width: 159px;
    height: 42px;
    display: inline-block;
}

.content .social-button.twitter img {
    background-color: #40A2F5;
    border-radius: 21px;
    padding: 0.6em 1em;
    width: 159px;
    height: 42px;
    display: inline-block;
}

.details-section-video {
    text-align: center;
    /*margin-bottom: 10px;*/
    margin-top: 50px;
    padding:56.25% 0 0 0;
    position:relative;
}

.details-section-video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.video-padding {
    margin-top: 0;
}

.fix-padding {
    padding-bottom: 0;
}



/*style="position:absolute;top:0;left:0;width:100%;height:100%;*/

.action-button-green {
    border-radius: 21px;
    border: 2px solid #7DA441;
    background-color: #7DA441;
    opacity: 1;
    font-family: 'Montserrat Regular';
    font-size: 14px;
    /*font-style: normal;*/
    color: #FFFFFF;
    margin-top: 2px;
    /*padding: 6px 6px 6px 6px;*/

    letter-spacing: 0.1em;
    /*margin-bottom: 14px;*/
    /*margin-right: 14px;*/
    /*margin-left: 14px;*/
}

.action-button-white {
    border-radius: 21px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    opacity: 1;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    font-weight: 500;
    /*font-style: normal;*/
    color: #FFFFFF;
    margin-top: 20px;
    /*padding: 6px 6px 6px 6px;*/

    letter-spacing: 0.1em;
    /*margin-bottom: 14px;*/
    /*margin-right: 14px;*/
    /*margin-left: 14px;*/
}

.action-button-green-over-bright {
    border-radius: 21px;
    border: 2px solid #6D764E;
    background-color: transparent;
    opacity: 1;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    font-weight: 500;
    /*font-style: normal;*/
    color: inherit;
    margin-top: 20px;
    /*padding: 6px 6px 6px 6px;*/

    letter-spacing: 0.1em;
}

/*form{*/
    /*width:500px;*/
    /*margin:0 auto;*/
/*}*/

.search {
    /*padding:6px 15px 6px 30px;*/
    /*margin:3px;*/
    background-color: transparent;
    border:#6D764E;
    color: #6D764E;
}

form.newsletter-input {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;

}

form.newsletter-input span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    /*width: 290px;*/
}

form.newsletter-input .email {
    text-align: left;
    float: left;
    height: 42px;
    color: #684E3A !important;
    font-size: 14px;
    margin:0;
    width: 320px;
    border-radius: 1em 0 0 1em !important;
}

form.newsletter-input input[type=submit], form.newsletter-input input[type=submit]:hover {
    /*position:relative;*/
    /*left:-24.50px;*/
    /*top: -2px;*/
    /*margin-left: -15px;*/
    height: 42px;
    border-radius: 0 1em 1em 0 !important;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    /*border:1px round #adc5cf;*/
    /*background: #e4f1f9; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); !* IE10+ *!*/
    /*background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); !* IE6-9 *!*/
    /*color:#7da2aa;*/
    /*cursor: pointer;*/
}


/*.highlight-section-special a:visited {*/
    /*color: #D32323;*/
    /*font-family: 'Montserrat Regular';*/
    /*font-size: 16px;*/
    /*line-height: 30px;*/

/*}*/

.info-section-special-icon {
    color: #D32323 !important;
}

.scroll-top {
    margin-top: -12px;
}

p a {
    color: #7DA444;
}

p a:hover,
p a:focus
{
    /*background: none;*/
    /*border: none;*/
    /*color: #AECFE5;*/
    text-decoration: none;
}

.details-section a {
    color: #FFFFFF;
    font-weight: 200;
    font-size: 20px;
}

/*.footer a.footer-link:visited,*/
.details-section a:hover,
.details-section a:focus
{
    background: none;
    border: none;
    color: #AECFE5;
}

.footer a {
    color: #FFFFFF;
    font-weight: 200;
    font-size: 20px;
}

/*.footer a.footer-link:visited,*/
.footer a.footer-link:hover,
.footer a.footer-link:focus
{
    background: none;
    border: none;
    color: inherit;
    text-decoration: none;
}

.footer-social-buttons {
    margin-left: calc(var(--indent) - 1em);
    /*margin-right: var(--indent);*/
    padding-top: 20px;
    margin-bottom: 20px;
}

.footer-social-buttons a {
    display: inline-block;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    background-color: #684D3A;
    background-position: center !important;
}

.footer .footer-social-buttons {
    text-align: left !important;
    width: calc(100% - var(--indent) + 1em) !important;
    /*padding: 0;*/
    overflow: hidden;
}

.footer .footer-social-buttons a.facebook
{
    background: url('img/home/facebook_footer.svg') no-repeat;
}

.footer .footer-social-buttons a.facebook:hover,
.footer .footer-social-buttons a.facebook:focus
{
    background-image: url('img/home/footer_hover_facebook.svg');
}

.footer .footer-social-buttons a.facebook
{
    background: url('img/home/facebook_footer.svg') no-repeat;
}

.footer .footer-social-buttons a.facebook:hover,
.footer .footer-social-buttons a.facebook:focus
{
    background-image: url('img/home/footer_hover_facebook.svg');
}

.footer .footer-social-buttons a.twitter {
    background: url('img/home/twitter_footer.svg') no-repeat;
}

.footer .footer-social-buttons a.twitter:hover,
.footer .footer-social-buttons a.twitter:focus
{
    background-image: url('img/home/footer_hover_twitter.svg');
}

.footer .footer-social-buttons a.instagram
{
    background: url('img/home/inst_footer.svg') no-repeat;
}

.footer .footer-social-buttons a.instagram:hover,
.footer .footer-social-buttons a.instagram:focus
{
    background-image: url('img/home/footer_hover_instagram.svg');
}

.footer .footer-social-buttons a.linkedin
{
    background: url('img/home/linkedin_footer.svg') no-repeat;
}

.footer .footer-social-buttons a.linkedin:hover,
.footer .footer-social-buttons a.linkedin:focus
{
    background-image: url('img/home/footer_hover_linkedin.svg');
}

.footer .footer-social-buttons a.yelp
{
    background: url('img/home/yelp_footer.svg') no-repeat;
}

.footer .footer-social-buttons a.yelp:hover,
.footer .footer-social-buttons a.yelp:focus
{
    background-image: url('img/home/footer_hover_yelp.svg');
}

.footer .footer-action-buttons {
    text-align: center !important;
    align: center;
    margin: 0;

}
.footer .action-button-green {
    font-size: 14px !important;
}


.footer-action-buttons {
    margin-left: var(--indent);
    padding-top: 20px;
    margin-bottom: 20px;
}

.footer-address {
    font-size: 16px;
    line-height: 24px;
    margin-left: var(--indent);
    padding-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
}





/* TEST */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    font-family: "Montserrat" !important;
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 18px;
    overflow: auto;
    margin-top:0;
}


h2,
h3,
h4,
h5,
h6,
label {
    color: inherit;
}

.content-head h1 {
    /*margin: 2em 0;*/
    font-size: 2em;
    font-weight: 300;
    line-height: 1.7em;
    position: relative;
}
.content-head h2 {
    font-weight: 300;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 30px;
    line-height:36px;
    /*color: #FFFFFF;*/
}

.content-head h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: inherit;
    /*color: #FFFFFF;*/
}


.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */

.is-center {
    text-align: center;
}

.yelp {
    padding:1em;
}


body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Add your font in here, whether it's a custom font or a normal font */
    font-family: 'Montserrat';
}



/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.action-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

a.action-button-primary {
    /* Rectangle 2: */
    background: #B53C3C;
    border: 1px solid #979797;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 8px;

    font-size: 120%;

    /* Schedule your sessio: */
    font-family: AvenirNext-DemiBold;
    font-size: 14px;
    color: rgba(255,255,255,0.88);
    letter-spacing: 0.05em;
    text-shadow: 0 1px 0 rgba(255,254,255,0.50);
}


.menu .pure-menu-selected a {
    color: #6D764E !important;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.menu .pure-menu-link {
    color: #8EB05C;
}

.pure-menu-item {
    line-height: 58px;
    font-size: 20px;
}

.menu a {
    color: #8EB05C;
    text-decoration: underline;
    text-transform: uppercase;
}
.menu li a:hover,
.menu li a:focus {
    background: none;
    border: none;
    color: #8EB05C;
    text-decoration: none;
    /*text-transform: uppercase;*/

}

.action-link a {
    color: darkgrey;
    font-size: 0.7em;
    margin: 0;
}

span.action-link.regular, .action-link.regular a {
    color: darkgrey;
    font-size: 1em;
    margin: 0;
}

.action-link a:hover,
.action-link a:focus
{
    background: none;
    border: none;
    color: #AECFE5;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    /*padding-top:20px;*/
    /*padding-top:30px;*/
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*.intro-video {*/
/*width: 560px;*/
/*height: 315px;*/
/*}*/


/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */

.header {
    text-align: center;
    /*height: 42px;*/
    background: white;
    position:fixed;
    z-index: 99;
    height:70px;
    /*margin-bottom:20em;*/
    width:100%;
    /*margin:0px auto;*/
    top:0;
    /* Rectangle 3: */
    /*opacity: 1;*/
    /*opacity: 0.25;*/
    /*background: #F7F7F3;*/
    /*border: 1px solid #E9E8DC;*/
    padding-left: 20px;
    /*margin-right: 10px;*/
}
#content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: relative;
    /*top: 87%;*/
    /*width: 70%;*/
    /*min-height: 12%;*/
    z-index: 97;
    background: white;
    margin: 0em 0em 0 0em;
}

/* We want to give the content area some more padding */
.content {
    /*padding: 1em 1em 3em;*/
    /*align-content: center;*/
    /*min-height: 150px;*/
    line-height: 0;
}

#content-wrapper > .content.table {
    margin: 1em 1em 1em 1em;
    padding-top:1em;
}

#content-wrapper > .content.table ~ .content.table {
    /*margin: 1em 1em 1em 1em;*/
    padding-top: 0;
}

.content-quote {
    font-style: italic;
}

.content-head {
    /*padding-left: var(--indent);*/
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*letter-spacing: 0.1em;*/
    /*margin: 1em 0 1em;*/
    text-align: left;
}

.content-head.divided h2 {
    font-size: 16px;
    font-weight:500;
    text-align: center;
    /*padding-top:2em;*/
    /*padding: 2em 1em 1em 1em;*/
    /*margin: 2em 1em 1em 1em;*/
    /*border: 1px inset #6D764E;*/
}

.blue hr {
    margin-top: 1em;
    padding-bottom:0px;
    margin-bottom:0px;
    /*display: block;*/
    /*overflow: hidden;*/
    border: 1px inset #F8F8F0;
}

.light hr {
    margin-top: 1em;
    padding-bottom:0px;
    margin-bottom:0px;
    /*display: block;*/
    /*overflow: hidden;*/
    border: 1px inset #6D764E;

}

/*.light h2:after*/
/*{*/
    /*content:' ';*/
    /*display:block;*/
    /*border:2px solid #6D764E;*/
/*}*/



/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
.content-subhead i {
    margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    bottom: 0;
    width: 100%;
    text-align: left;

    background-color: #684D3A;
    width:100%;
    /*font-size: 1em;*/
    border: 1px solid #E9E8DC;
}

.footer ul {
    list-style-type:none;
    text-align: left;
    padding-left: var(--indent);
}

ul.simple{
    list-style-type:none;
    text-align: left;
}

ul.phone-list{
    list-style-type:none;
    text-align: center;
}

ul.phone-list li{
    line-height: 0.2em;
    font-size: inherit;
}


.simple a {
    color: #FFFFFF;
}

/*.footer a.footer-link:visited,*/
.simple a:hover,
.simple a:focus
{
    background: none;
    border: none;
    color: #AECFE5;
}

.footer li {
    margin: 10px 0;
}

.simple li {
    margin: 10px 0;
}

.img-area {
    margin: 2em 2em 2em 2em;
}

.menu-wrapper {
    top: 55px;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.1s;
    -moz-transition: height 0.1s;
    -ms-transition: height 0.1s;
    transition: height 0.1s;
    position: relative;
    /*z-index:-21;*/
}

.menu-wrapper.open {
    height: 14em;
    line-height: 0.8;
    /*top:54px;*/
    background: #F7F7F3;
    border-radius: 3px;
    position:relative;
    /*z-index:99;*/
    text-align: center;
}

.menu {
    text-align: center;
}

.right-menu, .phone-header {
    text-align: right;
}

.left-menu {
    text-align: left;
}

.menu-toggle {
    width: 34px;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index:99;
    color: #7DA444;
}

.menu-toggle .bar {
    background-color: #7DA444;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 00px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}

.menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(+6px);
}

.menu-toggle .bar:last-child {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-6px);
}

.menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle.x .bar:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-footer {
    line-height: 24px;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*
 * Non- desktop: close menu
 */
@media only screen {
    body, #content-wrapper, .header {
        margin: 0 auto;
        width: 414px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-wrapper.open .menu-can-transform {
        position:fixed;
        top: 3em;
        text-align: center;
        width: 414px;
        /*width: 100%;*/
        /*overflow: visible;*/
        /*z-index:98;*/
        z-index:99;
        line-height: 0.8;
        /*top:54px;*/
        /*background: #F7F7F3;*/
        background: #FFFFFF;
        border-radius: 3px;
    }

    .menu-wrapper.open {
        position: fixed;
        overflow: visible;
        z-index:99;
        height: 24em;
        opacity: 1;
    }

    #menu .pure-menu-horizontal {
        padding: 2em;
    }

    .right-menu .left-menu{
        text-align: center;
    }

    #content-wrapper {
        margin-top: 1em;
    }



    /*.content-head {*/
        /*font-weight: 400;*/
        /*!*text-transform: uppercase;*!*/
        /*letter-spacing: 0.1em;*/
        /*margin: 2em 0 0.5em;*/
    /*}*/

    /*.content-head h1 {*/
        /*font-size: 1.4em;*/
        /*font-weight: 300;*/
        /*line-height: 1.3em;*/
        /*position: relative;*/
    /*}*/
    /*.content-subhead h2 {*/
        /*font-size: 1.2em;*/
        /*font-weight: 300;*/
        /*padding: 0;*/
        /*margin-top: 0.5em;*/
        /*margin-bottom: 0;*/
    /*}*/
}

/*@media only screen and (max-width: 40em) {  }*/

/*@media only screen and (min-width: 40.063em) {*/
    /*body {*/
        /*!*text-align: center;*!*/
        /*margin: 0 auto;*/
        /*width: 375px;;*/
    /*}*/
/*} !* min-width 641px and max-width 1024px, use when QAing tablet-only issues *!*/

/*@media only screen and (min-width: 64.063em) and (max-width: 90.062em) {*/
    /*#content-wrapper {*/
        /*!*text-align: center;*!*/
        /*margin: 0 auto;*/
        /*width: 375px;;*/
    /*}*/
/*} !* min-width 1024px and max-width 1440px, use when QAing large screen-only issues *!*/


/*@media only screen and (min-width: 90.063em) and (max-width: 120.062em) {*/
    /*#content-wrapper {*/
        /*!*text-align: center;*!*/
        /*margin: 0 auto;*/
        /*width: 375px;;*/
    /*}*/
/*} !* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues *!*/

/*!* XXLarge screens *!*/
/*@media only screen and (min-width: 120.063em) {*/
    /*#content-wrapper {*/
        /*!*text-align: center;*!*/
        /*margin: 0 auto;*/
        /*width: 375px;;*/
    /*}*/
/*} !* min-width 1921px, xlarge screens *!*/


