/*.header {*/
    /*padding-top: 0px !important;*/
    /*padding-bottom: 2em !important;*/
/*}*/
:root {
    --indent: 64px;
}

.header-logo {
    background: url('img/desktop/home/logo.svg') no-repeat;
    background-size: cover;
    width:292px;
    height: 58px;
    /*display: block;*/
    /*resize: both;*/
    /*padding-bottom: 22.1%;*/

    position: relative;
}

.header-location {
    /*vertical-align: bottom;*/
    visibility: hidden;
}

.header-button-signup {
    vertical-align: top;
    /*margin-top: -0.2em;*/
    font-size: 12px;
}

/*#content-wrapper {*/
    /*top: 71px;*/
/*}*/

.banner {
    width:100%;
    height: 0;
    display: block;
    resize: both;
    padding-bottom: 22.1%;

    position: relative;
}

.banner h1 {
    margin-left: var(--indent);
    position: absolute;
    top: calc(50% - 36px);
    /*left: var(--indent);*/
    display: inline-block;

    color: inherit;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    z-index: 199;

    width: 50%;
}

.banner.home h1 {
    /*margin-left: var(--indent);*/
    position: absolute;
    top: calc(50% - (28px * 2) - 5px);
    /*left: var(--indent);*/
    display: inline-block;

    color: inherit;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    z-index: 199;

    width: 600px;
}

.banner h1 span {
    font-weight: 400;
}

.banner h1 a {
    font-weight: 400;
    color: #7DA444;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;
}

.banner h1 a {
    font-weight: 400;
    color: #7DA444;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;
    display: block;
}


.banner.home {
    background: url('img/desktop/home/banner.jpg') no-repeat;
    background-size: cover;
    color: #684D3A;
}

.banner.neuromovement {
    background: url('img/desktop/neuromovement/banner.jpg') no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.banner.special_kids {
    background: url('img/desktop/special-kids/banner.jpg') no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.banner.high_performers {
    background: url('img/desktop/high-performers/banner.jpg') no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.banner.our_stories {
    background: url('img/desktop/our-stories/banner.jpg') no-repeat;
    background-size: cover;
    color: #FFFFFF;

}

.banner.sign_up {
    background: url('img/desktop/sign_up/banner.jpg') no-repeat;
    background-size: cover;
    color: #684D3A;
}

.banner.location {
    background: url('img/desktop/location/banner.jpg') no-repeat;
    background-size: cover;
    color: #684D3A;
}

section {
    font-family: 'Montserrat';
    /*padding-bottom: 1em;*/
    /*padding-top: 1em;*/
    /*padding-right: 1em;*/
    /*padding-left: 1em;*/
}

section.intro-section {
    background: url('img/home/pic1.jpg') no-repeat;
    background-size: cover;
    color: #684D3A;
}

section p {
    /*font-family: 'Montserrat';*/
    font-weight: 300;
    font-size: 16px;
    /*color: #684E3A;*/
    line-height: 30px;
    margin-left: var(--indent);
    margin-right: var(--indent);
    text-align: left;

    display: inline-block;

    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

section p.label {
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    float: left;
}


form.newsletter-input {
    min-width: 320px;
}

.social-box {
    min-width: 320px;
}

p.label {
    display: none;
}

footer .footer-logo {
    background: url('img/BRAINature_logo_mark_white.svg') no-repeat;
    background-size: cover;
    min-width:92px;
    width: 5%;
    height: 78px;
    margin-left: var(--indent);
    margin-top: var(--indent);

    /*display: block;*/
    /*resize: both;*/
    /*padding-bottom: 22.1%;*/

    /*position: relative;*/
    display: block;
}

/*footer .footer-row-1 {*/
    /*width: 50%;*/
/*}*/

footer .footer-row-1 {
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    /*align-items: stretch;*/

}

footer .footer-row-2 {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*align-items: stretch;*/
}

/*footer .footer-menu {*/
    /*display: block;*/
    /*width: 30%;*/
/*}*/

footer .footer-menu-1 {
    display: block;
    width: 50%;
    /*flex-wrap: wrap;*/
}

footer .footer-menu-2 {
    display: block;
    width: 50%;
    /*flex-wrap: wrap;*/
}



footer .footer-connect {
    width: 50%;
    display: block;
}
footer .footer-address {
    font-size: 14px;
    line-height: 24px;
    width: 30%;
    display: block;
    font-weight: 300;
    padding: 0;
}

footer .center-box {
    margin: unset;
}

footer .footer-link {
    font-size: 14px;
}

/*.center-box {*/
    /*padding-bottom: 0.5em;*/
    /*padding-top: 0.5em;*/
    /*margin: auto 0;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*!*width: 100%;*!*/
/*}*/
/*.upper-box {*/
    /*padding-top: 1em;*/
    /*padding-bottom: 0.5em;*/

    /*margin: auto 0;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*width: 100%;*/
/*}*/

/*.lower-box {*/
    /*padding-top: 0.5em;*/
    /*padding-bottom: 1em;*/

    /*margin: auto 0;*/
    /*!*margin-top: -500px;*!*/
    /*!*transform: translate( -70%, -50% );*!*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*width: 100%;*/
/*}*/

/*.newsletter-box {*/
    /*!*display: inline-block !important;*!*/
    /*!*white-space: nowrap;*!*/
    /*!*width: calc(567px + 5em);*!*/
    /*width: 90%;*/
/*}*/

/*.newsletter-box .email {*/
    /*display: inline !important;*/
    /*!*white-space: nowrap;*!*/
    /*!*width: calc(567px + 5em);*!*/
    /*width: 90%;*/
/*}*/

/*.newsletter-box .email{*/
    /*!*display: inline !important;*!*/
    /*!*white-space: nowrap;*!*/
    /*!*width: 567px;*!*/
    /*max-width: calc(567px);*/
    /*!*width: 100%;*!*/
/*}*/

/*.social-buttons-set {*/
    /*width: calc(567px + 5em);*/
/*}*/

/*.social-buttons-set .facebook {*/
    /*float: left;*/
/*}*/

/*.social-buttons-set .twitter {*/
    /*float: right;*/
/*}*/


/*.newsletter-box .newsletter-input.email *{*/
    /*width: 567px;*/
/*}*/

/*form.newsletter-input span {*/
    /*!*display: inline-block;*!*/
    /*!*white-space: nowrap;*!*/
    /*!*overflow: hidden;*!*/
    /*width: calc(567px + 5em);*/
/*}*/

/*form.newsletter-input .email {*/
    /*text-align: left;*/
    /*float: left;*/
    /*height: 42px;*/
    /*color: #684E3A !important;*/
    /*font-size: 14px;*/
    /*margin:0;*/
    /*width: 567px;*/
    /*border-radius: 1em 0 0 1em !important;*/
/*}*/

/*.social-buttons-set .social-button.facebook img {*/
    /*background-color: #4968B4;*/
    /*border-radius: 21px;*/
    /*padding: 0.5em 1em;*/
    /*!*margin-right: 2em;*!*/
    /*width: 159px;*/
    /*height: 42px;*/
    /*display: inline-block;*/
    /*text-align: left;*/
/*}*/

/*.social-buttons-set .social-button.twitter img {*/
    /*background-color: #40A2F5;*/
    /*border-radius: 21px;*/
    /*padding: 0.6em 1em;*/
    /*width: 159px;*/
    /*height: 42px;*/
    /*display: inline-block;*/
    /*float: right;*/
/*}*/

/*.social-buttons-set {*/
    /*width: calc(579px);*/
/*}*/



/*.intro-section .newsletter-input {*/
    /*box-sizing: border-box;*/
    /*text-align: center;*/
    /*margin-bottom: 1.5em;*/
    /*margin-top: 1.5em;*/
    /*!*width: 85% !important;*!*/
    /*overflow: hidden;*/
    /*!*display: inline;*!*/
/*}*/

/*form.newsletter-input .email {*/
    /*overflow: hidden;*/
    /*!*display: inline;*!*/
    /*!*min-width: 567px !important;*!*/
    /*max-width: 85% !important;*/
/*}*/

/*form.newsletter-input span {*/
    /*!*display: inline;*!*/
    /*overflow: hidden;*/
    /*!*width: 650px !important;*!*/
    /*!*min-width: 567px !important;*!*/
    /*width: 50% !important;*/
    /*max-width:85% !important;*/
/*}*/


/*form.newsletter-input input[type=submit], form.newsletter-input input[type=submit]:hover {*/
    /*!*position:relative;*!*/
    /*!*left:-24.50px;*!*/
    /*!*top: -2px;*!*/
    /*!*margin-left: -15px;*!*/
    /*height: 42px;*/
    /*border-radius: 0 1em 1em 0 !important;*/
    /*font-size: 16px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*float: left;*/
    /*position: relative;*/
    /*width: 15%;*/
    /*min-width: 5em;*/

/*}*/


/*.intro-section .social-buttons {*/
    /*text-align: center !important;*/
    /*!*min-width: 567px !important;*!*/
    /*width: 100%;*/
/*}*/

/*.intro-section .social-button.facebook img {*/
    /*background-color: #4968B4;*/
    /*border-radius: 21px;*/
    /*padding: 0.5em 1em;*/
    /*width: 159px;*/
    /*height: 42px;*/
    /*display: inline-block;*/
    /*text-align: left;*/
/*}*/

/*.intro-section .social-button.twitter img {*/
    /*background-color: #40A2F5;*/
    /*border-radius: 21px;*/
    /*padding: 0.6em 1em;*/
    /*width: 159px;*/
    /*height: 42px;*/
    /*display: inline-block;*/
    /*text-align: right;*/
/*}*/

/*.intro-section .social {*/
    /*!*text-align: center;*!*/
/*}*/

/*.newsletter-box {*/
    /*width: 400px;*/
/*}*/

/*.social-buttons-set {*/
    /*width: 440px;*/
/*}*/



#menu-mobile {
    display: none;
}

@media only screen {
    body, #content-wrapper, .header {
        margin: 0 auto;
        max-width: 1440px;
        padding-top: 0.5em;
    }
}

#menu-desktop.menu-wrapper {
    margin: 0 auto;
    padding: 0;
    top: 0px;
    text-align: right;
    overflow: inherit;
}

#menu-desktop .menu {
    margin: 0 auto;
    padding: 0;
    top: 0px;
    text-align: right;
}



#menu-desktop .pure-menu-horizontal a.pure-menu-link {
    font-size: 14px;
    letter-spacing: initial;
    line-height: initial;
    padding-top: 0.2em;
    padding-left: 1em;
    vertical-align: top;
}

#menu-desktop .menu-footer p {
    line-height: 24px;
    font-size: 14px;
    margin-top: -1.5em;
    margin-bottom: 1.5em;
    text-align: right;
    letter-spacing: initial;
    text-transform: none;
    padding-right: 1em;
    color: #727B54;
    font-weight: 300;
}



/*
 * Desktop: close menu
 */
@media (min-width: 1280px) {

    #menu {
        display: none;
    }

    #menu-desktop {
        display: block;
    }

    .menu-toggle {
        display: none;
    }
}

@media only screen and (max-width: 1279.99px) {
    .header-logo {
        background: url('img/home/brainature_hor_logo.svg') no-repeat;
        /*width:100%;*/
        background-size: cover;
        width:192px;
        height: 24px;
        /*display: inline-block;*/
        /*resize: both;*/
        /*padding-bottom: 22.1%;*/

        position: relative;
    }

    .header-location {
        visibility: inherit;
    }

    .menu-toggle {
        display: block;
    }

    #menu {
        display: block;
    }

    #menu-desktop {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu-wrapper.open .menu-can-transform {
        position:fixed;
        top: 3em;
        text-align: center;
        width: 100%;
        /*width: 100%;*/
        /*overflow: visible;*/
        /*z-index:98;*/
        z-index:99;
        line-height: 0.8;
        /*top:54px;*/
        /*background: #F7F7F3;*/
        background: #FFFFFF;
        border-radius: 3px;
    }

    .menu-wrapper.open {
        position: fixed;
        overflow: visible;
        z-index:199;
        height: 24em;
        opacity: 1;
    }

    #menu .pure-menu-horizontal {
        padding: 2em;
    }

    .right-menu .left-menu{
        text-align: center;
    }

    #content-wrapper {
        /*margin-top: 1em;*/
        top: 0;
    }
}