.header-logo {
    background: url('img/home/brainature_hor_logo.svg') no-repeat;
    /*width:100%;*/
    background-size: cover;
    width:192px;
    height: 24px;
    /*display: inline-block;*/
    /*resize: both;*/
    /*padding-bottom: 22.1%;*/

    position: relative;
}

.header-location {
    /*vertical-align: bottom;*/
}

.banner {
    width:100%;
    height: 0;
    display: block;
    resize: both;
    padding-bottom: 81.3% ; /*  375px X 363px*/
    margin: 0 auto;

    position: relative;
}

.banner.home {
    padding-bottom: 100%;
}

.banner h1 {
    margin-left: var(--indent);
    /*width: 30%;*/

    position: absolute;
    display: inline-block;
    top: 75%;
    color: #684D3A;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    z-index: 199;
}

.banner.home h1 {
    margin-left: var(--indent);
    position: absolute;
    top: calc(70% - (36px * 2) - 12px);
    left: 8%;
    display: inline-block;

    color: #684D3A;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    z-index: 199;

    width: 70%;
}

.banner h1 span {
    font-weight: 400;
}

.banner h1 a {
    font-weight: 400;
    color: #7DA444;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;
}

.banner h1 span {
    font-weight: 400;
}

.banner h1 a {
    font-weight: 400;
    color: #7DA444;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 30px;
}

.banner.home {
    background: url('img/home/banner.jpg') no-repeat;
    background-size: cover;
}

.banner.neuromovement {
    background: url('img/neuromovement/banner.jpg') no-repeat;
    background-size: contain;
}

.banner.special_kids {
    background: url('img/special-kids/banner.jpg') no-repeat;
    background-size: contain;
}

.banner.high_performers {
    background: url('img/high-performers/banner.jpg') no-repeat;
    background-size: contain;
}

.banner.our_stories {
    background: url('img/our-stories/banner.jpg') no-repeat;
    background-size: contain;
}

.banner.sign_up {
    background: url('img/sign_up/banner.jpg') no-repeat;
    background-size: contain;
}

.banner.location {
    background: url('img/location/banner.jpg') no-repeat;
    background-size: contain;
}

section {
    font-family: 'Montserrat';
    /*padding-bottom: 1em;*/
    /*padding-top: 1em;*/
    /*padding-right: 1em;*/
    /*padding-left: 1em;*/
}

section.intro-section {
    background: url('img/home/pic1.jpg') no-repeat;
    background-size: cover;
    color: #684D3A;
}

section p {
    /*font-family: 'Montserrat';*/
    font-weight: 300;
    font-size: 16px;
    /*color: #684E3A;*/
    line-height: 30px;
    margin-left: var(--indent);
    margin-right: var(--indent);
    text-align: left;

    display: inline-block;

    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

section p.label {
    display: none;
}

footer p.label {
    display: none;
}





/*.center-box {*/
    /*padding-bottom: 0.5em;*/
    /*padding-top: 0.5em;*/
    /*margin: auto 0;*/
    /*text-align: center;*/
    /*display: inline-block;*/
/*}*/
/*.upper-box {*/
    /*padding-top: 1em;*/
    /*padding-bottom: 0.5em;*/

    /*margin: auto 0;*/
    /*text-align: center;*/
    /*display: inline-block;*/
/*}*/

/*.lower-box {*/
    /*padding-top: 0.5em;*/
    /*padding-bottom: 1em;*/

    /*margin: auto 0;*/
    /*!*margin-top: -500px;*!*/
    /*!*transform: translate( -70%, -50% );*!*/
    /*text-align: center;*/
    /*display: inline-block;*/
/*}*/


/*.newsletter-box {*/
    /*display: inline !important;*/
    /*width: 320px;*/
/*}*/

/*.newsletter-box .email{*/
    /*display: inline !important;*/
    /*width: 260px;*/
/*}*/

/*.social-buttons-set {*/
    /*width: 320px;*/
/*}*/


#menu-desktop {
    display: none;
}


@media only screen {
    body, #content-wrapper, .header {
        margin: 0 auto;
        max-width: 440px;
        min-width: 320px;
    }
}


/*Small mobile screens*/
@media (max-width: 359px) {
    .banner h1 {
        top: calc(70% - (36px * 2)) !important;
    }
}



/*
 * Non- desktop: close menu
 */
@media (max-width: 599px) {
    .menu-toggle {
        display: block;
    }

    .menu-wrapper.open .menu-can-transform {
        position:fixed;
        top: 3em;
        text-align: center;
        width: 100%;
        /*width: 100%;*/
        /*overflow: visible;*/
        /*z-index:98;*/
        z-index:99;
        line-height: 0.8;
        /*top:54px;*/
        /*background: #F7F7F3;*/
        background: #FFFFFF;
        border-radius: 3px;
    }

    .menu-wrapper.open {
        position: fixed;
        overflow: visible;
        z-index:199;
        height: 24em;
        opacity: 1;
    }

    #menu .pure-menu-horizontal {
        padding: 2em;
    }

    .right-menu .left-menu{
        text-align: center;
    }

    #content-wrapper {
        margin-top: 1em;
    }
}