.content-wrapper main.home-page .main-banner{
    background: url("../images/web_assets_desktop/home/banner.jpg");
}

.content-wrapper main.home-page .main-text-slider{
    background: #4EADC2;
}

.content-wrapper main .main-text-slider .main-slider-reviews a{
    color: #D32323;
}

.content-wrapper main.home-page .section-1{
    background: #e2dad7 url("../images/web_assets_mobile/home/pic1.jpg") no-repeat;
    background-size: cover;
    min-height: 210px;
}

.content-wrapper main.home-page .section-1 .main-section-text p {
    color: #684E3A;
}

.content-wrapper main.home-page .section-1 .main-section-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-wrapper main.home-page .news-letter-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-wrapper main.home-page .news-letter-social .social-item {
    width: 159px;
    height: 42px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper main.home-page .news-letter-social p.label {
    font-size: 14px;
    color: #684E3A;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 300;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

.content-wrapper main.home-page .news-letter-social .social-item.facebook {
    background-color: #4968B4;
}

.content-wrapper main.home-page .news-letter-social .social-item.facebook:hover{
    background-color: #4b5dac;
    cursor: pointer;
}

.content-wrapper main.home-page .news-letter-social .social-item.twitter {
    margin-left: 21px;
    background-color: #40A2F5;
}

.content-wrapper main.home-page .news-letter-social .social-item.twitter:hover{
    cursor: pointer;
    background-color: #3689d2;
}

.content-wrapper main.home-page .section-2{
    background: #6e764f;
}

.content-wrapper main.home-page .section-2 .main-section-text{
    color: #FFFFFF;
}

.content-wrapper main.home-page .section-2 .main-section-content p {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
}

.content-wrapper main.home-page .section-2 .main-section-content > *{
    width: 100%;
}

.content-wrapper main.home-page .section-3 {
    padding-top: 0;
    padding-bottom: 0;
    background: #F7F2E6;
}

.content-wrapper main.home-page .section-3 .main-section-text {
    padding: 25px 0;
    background: #F7F2E6;
    display: flex;
}

.content-wrapper main.home-page .section-3 .main-section-text p{
    width: 70%;
    margin: auto 0;
}

.content-wrapper main.home-page .section-3 .main-section-content{
    display: flex;
    justify-content: center;
}

.content-wrapper main.home-page .section-3 .main-section-content div.content-book-1{
    background: #e2dad7 url("../images/web_assets_desktop/home/book1.jpg") no-repeat;
    background-size: cover;
    min-width: 270px;
    height: 405px;
}

.content-wrapper main.home-page .section-3 .main-section-content div.content-book-2{
    background: #e2dad7 url("../images/web_assets_desktop/home/book2.jpg") no-repeat;
    background-size: cover;
    min-width: 270px;
    height: 405px;
}

.content-wrapper main.home-page .section-3 .main-section-text p {
    color: #684E3A;
}

.content-wrapper main.home-page .section-3 .main-section-text p a{
    color: #7DA444;
}

.content-wrapper main.home-page .section-4{
    background: #4EADC2;
    min-height: 50px;
}

.content-wrapper main.home-page .section-4 > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.content-wrapper main.home-page .section-4 > div p{
    color: #FFFFFF;
}

@media (max-width: 1030px) {
    .content-wrapper main.home-page .section-3 .main-section-content div.content-book-1{
        background: #e2dad7 url("../images/web_assets_mobile/home/book1.jpg") no-repeat;
        min-width: 163px;
        height: 244px;
    }

    .content-wrapper main.home-page .section-3 .main-section-content div.content-book-2{
        background: #e2dad7 url("../images/web_assets_mobile/home/book2.jpg") no-repeat;
        min-width: 163px;
        height: 244px;
    }
}

@media (max-width: 768px) {
    .content-wrapper main.home-page .main-banner{
        background: url("../images/web_assets_mobile/home/banner.jpg") no-repeat top;
        background-size: cover;
    }

    .content-wrapper main.home-page .section-1 {
        background: #e2dad7 url("../images/web_assets_mobile/home/pic1.jpg") no-repeat;
        background-size: cover;
    }

    .content-wrapper main.home-page .section-1 .main-section-text p {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .content-wrapper main.home-page .section-1 .news-letter-social p.label {
        display: none;
    }

    .content-wrapper main.home-page .section-1 .news-letter-social {
        justify-content: center;
    }

    .content-wrapper main.home-page .section-2 a.supporting-research{
        margin-left: 25px;
    }

    .content-wrapper main.home-page .section-2 {
        background: #6e764f url("../images/web_assets_mobile/home/pic2.jpg") no-repeat;
        background-size: cover;
        padding: 40px 0;
        display: block;
        position: relative;
    }

    .content-wrapper main.home-page .section-2 .main-section-text{
        box-sizing: border-box;
        padding: 0 25px;
    }

    .content-wrapper main.home-page .section-2 .main-section-content .video{
        margin: 25px 0;
    }

    .content-wrapper main.home-page .section-2 .main-section-content .video-title{
        box-sizing: border-box;
        padding: 0 25px;
        margin: 25px 0;
    }

    .content-wrapper main.home-page .section-3{
        padding: 40px 25px;
    }

    .content-wrapper main.home-page .section-3 .main-section-text p {
        font-size: 20px;
    }

    .content-wrapper main.home-page .section-3 .main-section-text {
        padding: 0;
        margin-bottom: 25px;
    }

    .content-wrapper main.home-page .section-3 .main-section-text p{
        width: 100%;
    }

    .content-wrapper main.home-page .section-3 .main-section-content div.content-book-2{
        margin-left: 25px;
    }
}

@media (max-width: 576px) {
    .content-wrapper main.home-page .section-1 .news-letter-social{
        justify-content: space-between;
        margin: 0;
    }
}

@media (max-width: 375px) {
    .content-wrapper main.home-page .section-3 .main-section-content div.content-book-2{
        margin-left: 0;
    }
}
