.content-wrapper main.high-performers .main-banner {
    background: url("../images/web_assets_desktop/high_performers/banner.jpg");
    background-size: cover;
    color: white;
    position: relative;
}

.content-wrapper main.high-performers .main-banner h1{
    color: white;
    margin-bottom: 180px;
}

.content-wrapper main.high-performers .main-banner-section{
    color: white;
    width: 75%;
    position: absolute;
    top: 180px;
    z-index: 2;
}

.content-wrapper main.high-performers .main-banner-section p{
    max-height: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
}



.content-wrapper main.high-performers .section-1,
.content-wrapper main.high-performers .section-3{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #F7F2E6;
}

.content-wrapper main.high-performers .section-1 .main-section-text,
.content-wrapper main.high-performers .section-3 .main-section-text{
    padding: 40px 0;
    color: #684D3A;
}

.content-wrapper main.high-performers .section-1{
    flex-direction: row-reverse;
}

.content-wrapper main.high-performers .section-1 .main-section-content {
    background: url("../images/web_assets_desktop/high_performers/pic1.jpg");
    background-size: cover;
}

.content-wrapper main.high-performers .section-2{
    background-color: #6D764E;
    color: white;
}

.content-wrapper main.high-performers .section-2 .main-section-content{
    display: flex;
}

.content-wrapper main.high-performers .main-section article h1 {
    line-height: 36px;
}

.content-wrapper main.high-performers .section-contact{
    background-color: #6D764E;
    color: white;
}

.content-wrapper main.high-performers .section-contact .section-contact-avatar{
    background: url("../images/web_assets_desktop/special_kids/mark_avatar.png");
    background-size: cover;
}


@media (max-width: 1200px) {
    .content-wrapper main.high-performers .main-banner-section{
        padding-left: 140px;
        width: 90%;
        top: 130px;
    }
}

@media (max-width: 768px) {
    .content-wrapper main.high-performers .main-banner {
        background: url("../images/web_assets_mobile/high_performers/banner.jpg") no-repeat top;
        background-size: cover;
    }

    .content-wrapper main.high-performers .main-banner-section{
        background-color: #4EADC2;
        width: 100%;
        position: static;
        display: block;
        z-index: 2;
        padding-left: 25px;
    }

    .content-wrapper main.high-performers .main-banner-section p{
        max-height: fit-content;
    }

    .content-wrapper main.high-performers .main-banner h1{
        margin-bottom: 25px;
        color: #684D3A;
    }

    .content-wrapper main.high-performers .main-banner-section p{
        background-color: #4EADC2;
        font-size: 20px;
    }

    .content-wrapper main.high-performers .section-1{
        flex-direction: column-reverse;
        padding: 0;
    }

    .content-wrapper main.high-performers .section-1 .main-section-text{
        margin-top: 25px;
        background: url("../images/web_assets_mobile/high_performers/pic2.jpg");
        background-size: cover;
    }

    .content-wrapper main.high-performers .section-1 .main-section-content {
        background: url("../images/web_assets_mobile/high_performers/pic1.jpg");
        min-height: 375px;
        background-size: cover;
    }

    .content-wrapper main.high-performers .section-3
    {
        flex-direction: column;
        padding: 40px 0 0 0;
    }

    .content-wrapper main.high-performers .section-1 .main-section-text,
    .content-wrapper main.high-performers .section-3 .main-section-text{
        padding: 0 25px;
        box-sizing: border-box;
    }

    .content-wrapper main.high-performers .section-2 .main-section-content{
        flex-direction: column;
    }

    .content-wrapper main.high-performers .section-2 .main-section-content ul{
        padding-left: 15px;
        width: 100%;
        margin-bottom: 0;
    }

    .content-wrapper main.high-performers .section-2 .main-section-content ul li:first-of-type{
        margin-top: 0;
    }
    .content-wrapper main.high-performers .section-2 .main-section-content ul li,
    .content-wrapper main.high-performers .section-3 p,
    .content-wrapper main.high-performers .section-text-button p,
    .content-wrapper main.high-performers .section-contact .section-content-text p
    {
        font-size: 20px;
    }

}