<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }} {{ page.description }}">
    <meta name="google-site-verification" content="suhqAc8k-v2-iu4i_4oApu2h_cyYtcstLWXpc_uJbX4" />
	<title>{{ site.title }} | {{ page.title }} </title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="favicon_package_v0.16/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon_package_v0.16/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="favicon_package_v0.16/safari-pinned-tab.svg" color="#6d764e">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon_package_v0.16/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800'
          rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=Montserrat:Light' rel='stylesheet' type='text/css'>-->
    <!--<![endif]-->

    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles-mobile.css" media="screen and (max-width: 599px)" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles-desktop.css" media="screen and (min-width: 600px)">

    {% if page.url == '/schedule.html' %}
        <link rel="stylesheet" href="assets/css/pricing.css">
    {% endif %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12002560-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>

<div id="layout">
    <div class="header">
        <div class="pure-g pure-menu-heading">
            <!--348 (66 + 282) + 1092 ()-->
            <div class="pure-u-1-4 pure-u-md-1-6 pure-u-lg-1-6 left-menu">
                <div class="header-logo">
                    <a href="./" >
                        <img src="assets/css/img/home/brainature_hor_logo.svg"  alt="BRAINature - Anat Baniel Method (ABM) NeuroMovement Studio in San Mateo" />
                    </a>
                    <div class="header-location">SAN MATEO, CA</div>
                </div>
            </div>
            <div class="pure-u-1-2 pure-u-md-2-3 pure-u-lg-2-3">
                {% include menu-desktop.html %}
            </div>
            <div class="pure-u-1-4 pure-u-md-1-6 pure-u-lg-1-6">
                <a href="sign_up.html" class="pure-button header-button-signup">SIGN UP</a>
            </div>
        </div>
    </div>

    {% include menu.html %}

    {{ content }}
</div>

<div class="footer">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
            <ul>
                <li><a class="footer-link" href="sign_up.html">Sign Up for Program</a></li>
                <li><a class="footer-link" href="sign_up.html">Free Consultation</a></li>
                <li><a class="footer-link" href="sign_up.html">Gift Certificates</a></li>
                <li><a class="footer-link" href="location.html">Location</a></li>
                <li><a class="footer-link" href="neuromovement.html">NeuroMovement</a></li>
                <li><a class="footer-link" href="special_kids.html">Special Kids</a></li>
                <li><a class="footer-link" href="high_performers.html">High Performers</a></li>
                <li><a class="footer-link" href="our_stories.html">Our Stories</a></li>
                <!--<li><a class="footer-link" href="resources.html">Resources</a></li>-->
            </ul>
        </div>
    </div>

    <div class="footer-action-buttons">
        <form class="newsletter-input pure-form" method="get" action="http://brainature.com">
            <span>
                <input type="text" class="email pure-input-rounded" placeholder="ADD EMAIL FOR NEWSLETTER">
                <input class="pure-button green" type="submit" value="OK">
            </span>
        </form>

    </div>

    <div class="footer-social-buttons">
        <div class="pure-g">

            <div class="pure-u-1-5 pure-u-md-1-5 pure-u-lg-1-5">
                <a class="social-button facebook" href="" ></a>
            </div>
            <div class="pure-u-1-5 pure-u-md-1-5 pure-u-lg-1-5">
                <a class="social-button twitter" href="" ></a>
            </div>
            <div class="pure-u-1-5 pure-u-md-1-5 pure-u-lg-1-5">
                <a class="social-button instagram" href="" ></a>
            </div>

            <div class="pure-u-1-5 pure-u-md-1-5 pure-u-lg-1-5">
                <a class="social-button yelp" href="" ></a>
            </div>

            <div class="pure-u-1-5 pure-u-md-1-5 pure-u-lg-1-5">
                <a class="social-button linkedin" href=""></a>
            </div>
        </div>
    </div>
    <div class="footer-address">
        <p>3-West 37-th Avenue, Suite 22<br/>
            San Mateo, CA 94403</p>
        <p>&copy; 2019 BRAINature</p>
    </div>
</div>

<script src="assets/js/ui.js"></script>

</body>
</html>
