<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0.16/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0.16/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="favicon_package_v0.16/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon_package_v0.16/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0.16/favicon-16x16.png">
    <link rel="manifest" href="favicon_package_v0.16/site.webmanifest">
    <link rel="mask-icon" href="favicon_package_v0.16/safari-pinned-tab.svg" color="#6d764e">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon_package_v0.16/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="stylesheet" href="assets/styles/{{page.name | remove: ".html"}}.css">
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800'
          rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{site.url}}{{site.baseurl}}/{{page.canonical_name}}" />
    <!-- Open Graph data -->
    <meta property="og:title" content="BRAINature | {{page.meta_title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}{{site.baseurl}}/{{page.canonical_name}}" />
    <meta property="og:image:secure_url" content="{{site.url}}{{site.baseurl}}/assets/images/{{page.og_img}}" />
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}/assets/images/{{page.og_img}}" />
    <meta property="og:description" content="BRAINature | ABM NeuroMovement practitioners in San Mateo, CA | {{ page.description }}" />
    <meta property="fb:app_id" content="191940522199370" />
    <meta name="description" content="BRAINature | ABM NeuroMovement practitioners in San Mateo, CA | {{ page.description }}"/>

    <title>BRAINature | {{page.meta_title}}</title>
    {% include google.html %}
</head>
<body>

<div class="content-wrapper">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    <div id="modal" class="modal">
        <div class="modal-content">
            <h1>Thank You</h1>
            <p>for your interest in BRAINature. You are now subscribed to our newsletter and will receive the most
                interesting NeuroMovement insights.</p>
            <div id="modalButton" class="modal-button"></div>
        </div>
    </div>


</div>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="assets/scripts/script.js"></script>
{% if page.include_testimonials == true %}
    <script src="assets/scripts/slider.js"></script>
{% endif %}
<script src="assets/scripts/modal.js"></script>

</body>
</html>
